appdirs
Brotli
certifi
click
distlib
filelock
Flask
Flask-Compress
Flask-Cors
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
json5
MarkupSafe
nltk
numpy
pandas
platformdirs
plotly
python-dateutil
pytz
regex
retrying
scikit-learn
scipy
six
sqlalchemy<2.0.0
tenacity
threadpoolctl
tqdm
typing_extensions
virtualenv
Werkzeug
zipp