<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        footer {
            text-align: center;
            padding: 25px;
            background-color: #333333;
            color: white;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }

        .portrait {
            height: 80px;
            width: 30px;
        }

        .landscape {
            height: 30px;
            width: 80px;
        }

        .square {
            height: 75px;
            width: 75px;
        }
        .copyleft {
            display:inline-block;
            transform: rotate(180deg);
        }
    </style>
    <title>Disaster Response</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Disaster Response</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="https://github.com/chaitanyakasaraneni/DisasterResponse">Source Code</a></li>
          <li class="active"><a href="{{ url_for('api') }}">Classify messages using API</a></li>          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://chaitanyak.me/contact">Contact Author</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Message Classification</h1>
        <hr />
        <center>
            <iframe src="https://ghbtns.com/github-btn.html?user=chaitanyakasaraneni&repo=DisasterResponse&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=chaitanyakasaraneni&repo=DisasterResponse&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
        </center>
        <br>
        <h3 id="using-api-a-name-api-a-">Using API<a name="api"></a></h3>
    <p>Alternative to the webapp, you can classify message using API. To do this you need to &quot;POST&quot; request your message in JSON format. </p>
    <h4 id="api-request-using-curl">API request using curl</h4>
    <pre><code><span class="hljs-string">curl </span><span class="hljs-built_in">--location</span> <span class="hljs-built_in">--request</span> <span class="hljs-string">POST </span><span class="hljs-string">'https://disastermessage-classification.herokuapp.com/classify'</span> \
    <span class="hljs-built_in">--header</span> <span class="hljs-string">'Content-Type: application/json'</span> \
    <span class="hljs-built_in">--data-raw</span> <span class="hljs-string">'{
        "query":"&lt;YOUR_MESSAGE&gt;"
    }'</span>
    </code></pre><p>And the response would be something as shown below:</p>
    <pre><code>{
    <span class="hljs-attr">"classification_result"</span>: [
        &lt;YOUR_PREDICTED_OUTPUT&gt;
    ], 
    <span class="hljs-attr">"query"</span>: <span class="hljs-string">"&lt;YOUR_MESSAGE&gt;"</span>, 
    <span class="hljs-attr">"success"</span>: <span class="hljs-literal">true</span>
    }
    </code></pre>
    <h4 id="api-request-and-response-using-postman">API request and response using Postman</h4>
    <img src="{{url_for('static',filename = 'images/sample_request.png')}}" alt="Example Request and Response">
    <p class="text-center">Example Request and Response using Postman</p>
    </div>
</div>

<footer>
    <div class="container">
        <div class="navbar-header">
            <div id="navbar" class="collapse navbar-collapse">
                <p><span class="copyleft">&copy;</span>&nbsp; Copyleft</p>
            </div>
        </div>
        
    </div>
    
  </footer>
</body>
</html>